nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  position: fixed;
  width: 100%;
<<<<<<< HEAD
  height: 48px;
=======
  height: 10%;
>>>>>>> 7c8a7300813e37f7aad5c41e002db6759d3f6e25
  z-index: 1;
}

nav li{
  float: left;
  width: 25%;
  border-radius: 10%;
}

header nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

footer nav li a{
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 48px;
}

header nav li a:hover{
  text-decoration: none;
  color: white;
}

footer nav li a:hover{
  text-decoration: none;
  color: orange;
}

header ul{
  background-color: orange;
  top: 0;
}

footer ul{
  background-color: white;
  bottom: 0;
}

footer ul li{
  border-right: 1px solid white;
}

#main_info{
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.8);
}

p{
  color: orange;
  padding-left: 10px;
}

#introbox_photo{
  width: 40%;
  margin: 0;
}

#introbox_photo img{
  border-radius: 50%;
  width: 50%;
  margin-left: 5%;
}

#introbox_info{
  width: 60%;
  margin: 0;
  position: inline;
}

.container{
  width: 80%;
  border: 2px solid orange;
  border-radius: 10%;
}
