nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 1;
}

nav li{
  float: left;
  width: 25%;
  border-radius: 10%;
}

header nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

footer nav li a{
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 48px;
}

header nav li a:hover{
  text-decoration: none;
  color: white;
}

footer nav li a:hover{
  text-decoration: none;
  color: orange;
}

header ul{
  background-color: orange;
  top: 0;
}

footer ul{
  background-color: white;
  bottom: 0;
}

footer ul li{
  border-right: 1px solid white;
}

#main_info{
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 56px;
}

p{
  color: orange;
  padding-left: 10px;
}

.container{
  width: 80%;
  border: 2px solid orange;
  border-radius: 10%;
}

#info{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(img/shinchon.png);
}

#info_2{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(img/food.png);
}

#f1{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(img/food1.png);
}
